{:linters {:unresolved-symbol {:exclude [goog.DEBUG
                                         (com.rpl.specter/recursive-path)]}}
 :lint-as {applied-science.js-interop/defn clojure.core/defn
           applied-science.js-interop/let clojure.core/let
           applied-science.js-interop/fn clojure.core/fn
           reagent.core/with-let clojure.core/let}
 :config-paths ["../resources/clj-kondo.exports/net.dhleong/spade"]}

